<div class="text-layout">
  <h1>Decimal Pipes and percentage</h1>
  <p>Pipes Incluidos en Aangular - Usualmente en le CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas netas" subheader="Ventas netas del presente año">
      <i class="pi pi-dollar"> </i>
      {{ ventasNetas | number: "1.2-2" }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas" subheader="Ventas brutas del presente año">
      {{ ventasNetas + 2000000 | currency: "PEN":"symbol-narrow":"1.4-4" }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card
      header="Ganancias del año"
      subheader="Ventas netas del presente año"
    >
      {{ procentaje | percent: "2.2-2" }}
    </p-card>
  </div>
</div>
